

.color-green {
  color: green;
}
.color-red {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.empty-state-template {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}
