<div class="card shadow">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold card-title">Contracts</h5>
  </div>
  <div class="card-body">
    <p>You can see here all the contracts you have with various projects managed by Self XDSD, as well as current tasks and invoices. <br>
      Please read this page to understand how the invoicing, commission and VAT are working.</p>
  </div>
  <div class="table-responsive card-body">
    <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="mb-3">
        <div class="input-group">
          <input
            type="search"
            class="form-control border-end-0 border input-search"
            placeholder="Filter by repository name"
            #searchQuery
            (input)="hndSearch(searchQuery.value)"
          />
          <span class="input-group-append search-icon">
            <i class="fa fa-search"></i>
        </span>
        </div>

      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Role</th>
          <th scope="col">Hourly Rate</th>
          <th scope="col">
            Value
            <i class="fa fa-question-circle-o fa-lg fakeWalletInfo"
               ngbPopover="Invoice of the Contributor to the Project." triggers="mouseenter:mouseleave"
            >
            </i>
          </th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
          @for(contract of contributor()?.contracts; track $index) {
            <tr>
              <td>
                <a
                  href="https://{{contributor()?.provider!}}.com/{{contract.id.repoFullName}}}"
                  target="_blank"
                >
                  {{contract.id.repoFullName}}
                </a>
              </td>
              <td>{{contract.id.role}}</td>
              <td>{{contract.hourlyRate}}</td>
              <td>{{contract.value}}</td>
              <td>
                <div>
                  <a (click)="hndLoadTasksAndInvoices(contract)" class="pr-1 cursor-pointer" title="See Tasks &amp; Invoices">
                    <i class="fa fa-laptop fa-lg"></i>
                  </a>
                  <a (click)="hndMarkProject(contract)" class="pr-1 cursor-pointer" title="Mark Contract For Removal">
                    <i style="font-size: 20px" class="fa fa-trash"></i>
                  </a>
                  <i
                    class="fa fa-euro fa-lg"
                    [ngClass]="{
                    'color-green': contract.projectWalletType === 'STRIPE',
                    'color-red': contract.projectWalletType === 'FAKE'
                    }"
                    placement="top"
                    ngbTooltip="{{
                    contract.projectWalletType === 'FAKE' ?
                     'The project uses a fake Wallet, you will not be paid.' :
                     'The project uses a real Stripe Wallet. Make sure to completely set up your Payout Method in order to be paid.'
}}"
                  >

                  </i>
                </div>

              </td>

            </tr>
          }

        </tbody>
      </table>
      @if(true) {
        <div class="p-2">Total Contracts: {{ contributor()?.contracts?.length! }}</div>
      } @else {
        <p class="text-center border rounded py-3 my-3 empty-state-template">No data available in table</p>
      }

      @if(true) {
        <div class="d-flex justify-content-between p-2">
<!--          <ngb-pagination [collectionSize]="1" [(page)]="1" [pageSize]="5">-->
<!--          </ngb-pagination>-->
          <select class="custom-select" style="width: auto">
            <option [ngValue]="10">10 repositories per page</option>
            <option [ngValue]="25">25 repositories per page</option>
            <option [ngValue]="50">50 repositories per page</option>
            <option [ngValue]="100">100 repositories per page</option>
          </select>
        </div>
      }
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-6">
    <div class="card shadow">
      <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold card-title">Tasks in Maiorusergiu/repoTest1 (PO)</h5>
      </div>
      <div class="card-body">
        <p>These tasks are assigned to you at the moment. <br>
          Read more about estimations and microtasking here.</p>
      </div>
      <div class="table-responsive card-body">
        <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="mb-3">
            <div class="input-group">
              <input
                type="search"
                class="form-control border-end-0 border input-search"
                placeholder="Filter by repository name"
                #searchQuery
                (input)="hndSearch(searchQuery.value)"
              />
              <span class="input-group-append search-icon">
            <i class="fa fa-search"></i>
        </span>
            </div>

          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Issue</th>
              <th scope="col">Assigned</th>
              <th scope="col">Deadline</th>
              <th scope="col">
                Estimation
              </th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Issue</td>
              <td>Assigned</td>
              <td>Deadline</td>
              <td>Estimation</td>
              <td>Value</td>
            </tr>

            </tbody>
          </table>
          @if(true) {
            <div class="p-2">Total Contracts: {{ contributor()?.contracts?.length! }}</div>
          } @else {
            <p class="text-center border rounded py-3 my-3 empty-state-template">No data available in table</p>
          }

          @if(true) {
            <div class="d-flex justify-content-between p-2">
              <!--          <ngb-pagination [collectionSize]="1" [(page)]="1" [pageSize]="5">-->
              <!--          </ngb-pagination>-->
              <select class="custom-select" style="width: auto">
                <option [ngValue]="10">10 repositories per page</option>
                <option [ngValue]="25">25 repositories per page</option>
                <option [ngValue]="50">50 repositories per page</option>
                <option [ngValue]="100">100 repositories per page</option>
              </select>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card shadow">
      <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold card-title">Invoices in Maiorusergiu/repoTest1 (PO)</h5>
      </div>
      <div class="table-responsive card-body">
        <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="mb-3">
            <div class="input-group">
              <input
                type="search"
                class="form-control border-end-0 border input-search"
                placeholder="Filter by repository name"
                #searchQuery
                (input)="hndSearch(searchQuery.value)"
              />
              <span class="input-group-append search-icon">
            <i class="fa fa-search"></i>
        </span>
            </div>

          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Created</th>
              <th scope="col">Gross Revenue</th>
              <th scope="col">Status</th>
              <th scope="col">Download</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                  <td>ID</td>
                  <td>Created</td>
                  <td>Gross Revenue</td>
                  <td>Status</td>
                  <td>
                    <a href="/api/contributor/contracts/Maiorusergiu/Admin-Dashboard/invoices/343/pdf?role=PO"
                       target="_blank"
                       class="downloadInvoice">
                      <i title="Your Invoice To The Project" class="fa fa-file-pdf-o fa-lg"></i>
                    </a>
                  </td>

                </tr>

            </tbody>
          </table>
          @if(true) {
            <div class="p-2">Total Contracts: {{ contributor()?.contracts?.length! }}</div>
          } @else {
            <p class="text-center border rounded py-3 my-3 empty-state-template">No data available in table</p>
          }

          @if(true) {
            <div class="d-flex justify-content-between p-2">
              <!--          <ngb-pagination [collectionSize]="1" [(page)]="1" [pageSize]="5">-->
              <!--          </ngb-pagination>-->
              <select class="custom-select" style="width: auto">
                <option [ngValue]="10">10 repositories per page</option>
                <option [ngValue]="25">25 repositories per page</option>
                <option [ngValue]="50">50 repositories per page</option>
                <option [ngValue]="100">100 repositories per page</option>
              </select>
            </div>
          }
        </div>
      </div>
    </div>
  </div>


</div>

