<header id="header" class="bg-light padding-header-navbar mb-4">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/self-xdsd.png" width="35" height="35" class="d-inline-block align-top" alt="">
      Self XDSD
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto unauthenticated">
        <li class="nav-item">
          <a class="nav-link" href="/#how-it-works">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#plans">Plans</a>
        </li>
      </ul>
    </div>
    <app-logins></app-logins>
  </nav>
</header>
