<div class="collapse multi-collapse show" id="projectOverview">
  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold card-title">Project managed by: <span class="managedByLink"><a href="https://{{project.provider}}.com/{{project.manager.username}}" target="_blank">&#64;{{project.manager.username}}</a></span></h6>
        </div>
        <div class="card-body">
          <div id="projectOverviewPmPending" class="alert alert-warning" role="alert" style="display:none;">
            You're almost there. Just give our PM a few minutes to accept the Github invitation, then you'll be all set up.
          </div>
          <p>
            The Project Manager takes care of the following things for you:
          </p>
          <div class="mb-2">
            <h6><code>Issue assignment</code></h6>
            <p>
              Whenever someone opens a new Issue in your repository, the PM will
              automatically register it as a task and will assign a contributor to work on it.
            </p>
            <p>
              If it turns out that the Issue is invalid, not applicable or simply not worth working on as a task,
              just say <code>&#64;{{project.manager.username}} deregister</code> and it will be taken out of scope.
              The Issue will not be invoiced and the PM will not charge a commission for it.
            </p>
            <p>
              Also, when opening a new Issue, you can label it with <code>no-task</code> and the PM will not put
              it in scope.
            </p>
            <p>If you want to put an Issue in scope, say <code>&#64;{{project.manager.username}}  register</code>.</p>
          </div>
          <div class="mb-2">
            <h6><code>Issue resignation</code></h6>
            <p>If the task's assignee does not close the Issue before the deadline,
              the PM will resign them and look for another assignee. The resigned assignee will not be paid.</p>
          </div>
          <div class="mb-2">
            <h6><code>TO-DOs as Issues</code></h6>
            <p>At each <code>push</code>, the PM will scan the code for TO-DOs and open issues for them.</p>
            <p>When a TO-DO is removed from the code, the PM will close the corresponding Issue.</p>
          </div>
          <div class="mb-2">
            <h6><code>Invoicing and Payments</code></h6>
            <p>
              After an Issue or PR is closed, the PM will add the task to the assignee's
              active Invoice.
            </p>
            <p>
              Invoices over <code>{{formatEur(automaticPaymentValue())}}</code> are automatically paid out <code>each Monday</code> from your active Wallet.
            </p>
          </div>
          <div class="mb-2">
            <h6><code>Commands</code></h6>
            <p>
              The Project Manager listens to certain commands given by users. For example,
              if the assignee cannot solve the task, they can say <code>&#64;{{project.manager.username}} resign</code> right
              in the Issue comments and the PM will look for someone else.
              <a href="https://docs.self-xdsd.com/projectmanager.html#commands" target="_blank">Here</a> is guide on all possible commands and who can give them.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5">
      <app-wallet-chart [wallet]="project.wallet"></app-wallet-chart>
      <div id="ownerCard" class="card shadow mb-4" style="display: none;">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">Ownership</h4>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <p>This project is owned by: <b><span class="selfOwner"></span></b></p>
          <p>You can see this page because you are an admin in the Organization which
            owns the repository. However, in Self XDSD there is only one Project Owner, the one
            who activated the repository.</p>
        </div>
      </div>
    </div>
  </div>
  <app-repo-badge [provider]="project.provider" [repoFulLName]="project.repoFullName"></app-repo-badge>
</div>
