@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family:"Roboto", "Times New Roman", serif;
  height: 100%;
}
#header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #701516;
}

/*by setting pseudo elem border to 0 it removes dropdown arrow (a border itself) */
.dropdown-menu::before {
  border: 0 !important
}

.dropdown-menu::after {
  border: 0 !important
}

.card-title {
    color: #701516 !important;
}

footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #701516;
}
ul {
    list-style: none;
}
.padding-header-navbar {
    padding-top: 10px;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-left: 10%;
}

.btn-outline-primary {
    color: #701516;
    border-color: #701516;
}
button.btn-outline-primary:hover,
a.btn-outline-primary:hover {
    color: white;
    border-color: #701516;
    background-color: #701516;
}

.checkmark {
    width: 20px;
    vertical-align: middle;
}

.gravatar {
    display: inline;
    float: right;
    max-width: 60px;
    height: 67px;
}

.gravatar img {
    padding: 3px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #ccc;
}

.card-user-header {
    background: -moz-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background: -o-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background: -ms-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background: linear-gradient(to bottom,#fff 0,#f4f4f4 100%);
}

.card p{
    text-align: justify;
    text-justify: inter-word;
}

#createStripeConnectAccountButton,
#completeOnboardingProcessButton,
#stripeDashboardButton,
#stripeCustomerButton,
#activateStripeWalletButton {
    background-color: #5469D4;
}

.autocomplete-suggestions {
    overflow: auto;
    border: 1px solid #CBD3DD;
    background: #FFF;
}

html{
    min-height: 100%;
    position:relative;
}

footer{
    position:absolute;
    width:100%;
    bottom:0;
}
body {
        padding-bottom: 136px;
}

@media (max-width:767px)
{
    body {
        padding-bottom: 472px;
    }

    #how-it-works img[alt="Self XDSD Screenshot"]{
        display:none ;
    }

    .about-self, .register-repo,.features{
        width:100% !important;
    }

    #how-it-works .bg-light{
        display: none;
    }
}
