<main class="container" role="main">
  <header class="profile-header">
    <div class="card">
      <div class="card-user-header card-body">
        <div class="ml-1 row">
          <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" width="25" height="25" aria-hidden="true"><path style="color: #701516" fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg>
          <h5><span id="owner">{{this.owner}}</span>/<span id="name">{{this.name}}</span></h5>
        </div>
      </div>
      <div class="card-footer">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li [ngbNavItem]="'overview'">
            <a *ngIf="project" style="color: black;" ngbNavLink>Overview</a>
            <ng-template ngbNavContent>
              <div *ngIf="loading" class="text-center">
                <img src="/assets/images/loading.svg">
              </div>
              <div *ngIf="!loading && project">
                <app-project-overview [project]="project"></app-project-overview>
              </div>
              <div *ngIf="!loading && !project">
                <div>
                  <h5>This repository is not active</h5>
                  <p>Looks like this repository is not currently managed by Self XDSD. Go ahead and activate it.</p>
                  <button (click)="activateRepo()" [disabled]="loadingActivate" class="btn btn-primary" aria-describedby="activateHelp">Activate</button>
                  <span *ngIf="loadingActivate"  class="text-center">
                    <img height="30" width="30" src="/assets/images/loading.svg">
                  </span>
                  <small id="activateHelp" class="form-text text-muted">
                    <p>Three things will happen when you activate a new repo:</p>
                    <ul class="pl-0">
                      <li>1. We will register your repo as a project and assign it a Project Manager.</li>
                      <li>2. We will invite the PM to your repository with management permissions.</li>
                      <li>3. We will set up a Webhook in your repository so the PM is notified of certain events automatically.</li>
                    </ul>
                  </small>
                  <div class="invalid-feedback browser-error" style="display: none;">
                    <small>
                      Oops, your browser did something unexpected.
                      Please refresh the page and try again.
                    </small>
                  </div>
                </div>

              </div>
            </ng-template>
          </li>
          <li *ngIf="project" [ngbNavItem]="'contracts'">
            <a style="color: black;" ngbNavLink>Contracts</a>
            <ng-template ngbNavContent>
              ...contracts...
            </ng-template>
          </li>
          <li *ngIf="project" [ngbNavItem]="'wallets'">
            <a style="color: black;" ngbNavLink>Wallets</a>
            <ng-template ngbNavContent>
              ...wallets...
            </ng-template>
          </li>
          <li *ngIf="project" [ngbNavItem]="'settings'">
            <a style="color: black;" ngbNavLink>Settings</a>
            <ng-template ngbNavContent>
              ...settings...
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="card card-body">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</main>
