<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header">
</header>
<main class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-user-header card-body">
                <div class="ml-1 row">
                    <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" width="25" height="25" aria-hidden="true"><path style="color: #701516" fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg>
                    <h3><span id="owner" th:text="${owner}"/>/<span id="name" th:text="${name}"/></h3>
                </div>
            </div>
        </div>
    </header>
    <div th:if="${managed}" class="card card-body" id="managed">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold card-title">Project managed by Self</h4>
            </div>
            <div class="card-body">
                <p>
                    The Project Manager takes care of the following things and more:
                </p>
                <div class="mb-2">
                    <h5><code>Issue assignment</code></h5>
                    <p>
                        Whenever someone opens a new Issue in your repository, the PM will
                        automatically register it as a task and will assign a contributor to work on it.
                    </p>
                    <p>
                        In the case of Pull Requests, the PM will look for contributors with role <code>REV</code> and assign
                        them for code review.
                    </p>
                </div>
                <div class="mb-2">
                    <h5><code>Issue resignation</code></h5>
                    <p>If the task's assignee does not close the Issue before the deadline arrives,
                        the PM will resign them and look for another assignee.</p>
                </div>
                <div class="mb-2">
                    <h5><code>Invoicing and Payments</code></h5>
                    <p>
                        After an Issue or PR is closed, the PM will add the task to the assignee's
                        active Invoice.
                    </p>
                    <p>
                        Invoices are paid out on the <code>1st of the month</code> or when they
                        accumulate more than <code>$100</code>.
                    </p>
                </div>
                <div class="mb-2">
                    <h5><code>Commands</code></h5>
                    <p>
                        The Project Manager listens to certain commands given by users. For example,
                        if the assignee cannot solve the task, they can say <code>resign</code> right
                        in the Issue comments and the PM will look for someone else.
                        <a href="#">Here</a> is guide on all possible commands and who can give them.
                    </p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold card-title">Register your project as well</h4>
            </div>
            <div class="card-body">
                <p>
                    Want Self to take care of your project as well? Login and choose the project's
                    repository, then activate it.
                </p>
                <p>
                    It's free for expenses of up to $1M. No credit card required.
                </p>
                <div class="unauthenticated">
                    <a class="btn btn-outline-primary" href="/oauth2/authorization/github">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" height="14"><path d="M14 0C6.27 0 0 6.43 0 14.36c0 6.34 4.01 11.72 9.57 13.62.7.13.96-.31.96-.69 0-.34-.01-1.24-.02-2.44-3.89.87-4.72-1.92-4.72-1.92-.64-1.66-1.55-2.1-1.55-2.1-1.27-.89.1-.87.1-.87 1.4.1 2.14 1.48 2.14 1.48 1.25 2.19 3.28 1.56 4.07 1.19.13-.93.49-1.56.89-1.92-3.11-.36-6.38-1.59-6.38-7.09 0-1.57.55-2.85 1.44-3.85-.14-.36-.62-1.82.14-3.8 0 0 1.18-.39 3.85 1.47a12.8 12.8 0 013.5-.48c1.19.01 2.39.16 3.5.48 2.67-1.86 3.85-1.47 3.85-1.47.76 1.98.28 3.44.14 3.8.9 1 1.44 2.28 1.44 3.85 0 5.51-3.27 6.73-6.39 7.08.5.44.95 1.32.95 2.66 0 1.92-.02 3.47-.02 3.94 0 .38.25.83.96.69C23.99 26.07 28 20.7 28 14.36 28 6.43 21.73 0 14 0z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                        Github Login
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${not managed}" class="card card-body" id="notManaged">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold card-title">Sorry, we don't know this project</h4>
            </div>
            <div class="card-body">
                <p>
                    Looks like this project is not managed by Self. If you're the owner and want to activate it, go ahead and login.
                </p>
                <p>
                    It's free for expenses of up to $1M. No credit card required.
                </p>
                <div class="unauthenticated">
                    <a class="btn btn-outline-primary" href="/oauth2/authorization/github">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" height="14"><path d="M14 0C6.27 0 0 6.43 0 14.36c0 6.34 4.01 11.72 9.57 13.62.7.13.96-.31.96-.69 0-.34-.01-1.24-.02-2.44-3.89.87-4.72-1.92-4.72-1.92-.64-1.66-1.55-2.1-1.55-2.1-1.27-.89.1-.87.1-.87 1.4.1 2.14 1.48 2.14 1.48 1.25 2.19 3.28 1.56 4.07 1.19.13-.93.49-1.56.89-1.92-3.11-.36-6.38-1.59-6.38-7.09 0-1.57.55-2.85 1.44-3.85-.14-.36-.62-1.82.14-3.8 0 0 1.18-.39 3.85 1.47a12.8 12.8 0 013.5-.48c1.19.01 2.39.16 3.5.48 2.67-1.86 3.85-1.47 3.85-1.47.76 1.98.28 3.44.14 3.8.9 1 1.44 2.28 1.44 3.85 0 5.51-3.27 6.73-6.39 7.08.5.44.95 1.32.95 2.66 0 1.92-.02 3.47-.02 3.94 0 .38.25.83.96.69C23.99 26.07 28 20.7 28 14.36 28 6.43 21.73 0 14 0z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                        Github Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="footer.html :: footer"></footer>
</body>
</html>