<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header"></header>

<article class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-user-header card-body">
                <div class="row">
                    <div class="gravatar ml-3 mr-2">
                        <img class="user_avatar" src="/images/user_avatar.jpg" alt="Card image cap">
                    </div>
                    <div class="mt-2">
                        <h4 class="user_name"></h4>
                        <span class="text-muted user_login"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer" id="contributorCardFooter" style="display: none;">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" role="button" id="contractsButton">Contracts</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" role="button" id="payoutMethodsButton">Payout Methods</button>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center" id="notContributorCardFooter" style="display: none;">
                It seems that you are not contributing to any projects managed
                by Self.<br>
                If someone from your organization told you that they registered the project in Self,
                ask them to register a contract for you.
            </div>
        </div>
    </header>
    <div>
        <div id="loadingContributor" class="text-center" style="display:none;">
            <img src="/images/loading.svg">
        </div>
        <div id="contributorDashboard" class="d-none">
            <div class="mt-4" id="contractsDivTable">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold card-title">Contracts</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="contractsTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="contractsTable" class="display">
                                    <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Role</th>
                                        <th>Hourly Rate</th>
                                        <th>
                                            Value
                                            <i class="fa fa-question-circle-o fa-lg fakeWalletInfo"
                                               aria-hidden="true"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Total value of your assigned tasks, active Invoice and PM commission.">
                                            </i>
                                        </th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6" id="tasks" style="display: none;">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold card-title" id="tasksTitle">Tasks</h4>
                        </div>
                        <div id="loadingTasks" class="text-center" style="display: none;">
                            <img src="/images/loading.svg">
                        </div>
                        <div class="card-body" id="tasksBody" style="display: none;">
                            <div class="table-responsive">
                                <div id="tasksTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <table id="tasksTable" class="display">
                                        <thead>
                                        <tr>
                                            <th>Issue</th>
                                            <th>Assigned</th>
                                            <th>Deadline</th>
                                            <th>Estimation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="invoices" style="display: none;">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold card-title" id="invoicesTitle">Invoices</h4>
                        </div>
                        <div id="loadingInvoices" class="text-center" style="display: none;">
                            <img src="/images/loading.svg">
                        </div>
                        <div class="card-body" id="invoicesBody" style="display: none;">
                            <div class="table-responsive">
                                <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <table id="invoicesTable" class="display">
                                        <thead>
                                        <tr>
                                            <th>Nr.</th>
                                            <th>Created</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="payoutMethodsDashboard" class="d-none">
            <div id="loadingPayoutMethods" class="text-center" style="display: none;">
                <img src="/images/loading.svg">
            </div>
            <div class="card-body no-payout-methods" style="display: none;">
                <h3>You have no payout methods yet.</h3>
                <p>Payout methods are ways for you to be paid.<br>
                You will want to set up a payout method as soon as one of the projects you're working for decides to use a real wallet and make real payments.</p>
                <form id="createStripeConnectAccountForm">
                    <div class="form-group">
                        <button id="createStripeConnectAccountButton" type="submit" class="btn btn-primary" aria-describedby="stripeConnectHelp">
                            Create Stripe Account
                        </button>
                        <span id="loadingCreateStripeAccount" class="text-center" style="display: none;">
                            <img height="40" width="40" src="/images/loading.svg">
                        </span>
                        <small id="stripeConnectHelp" class="form-text text-muted">
                            <p>
                                You will be redirected to <a href="https://stripe.com/docs/connect" target="_blank">Stripe Connect</a>
                                where you will set up a Stripe Connect Account which is linked to Self XDSD's Platform Account.<br>
                                Then, we will be able to wire you money for the work you do in projects that use a real wallet.
                            </p>
                            <p>
                                You will see your Stripe Connect Account overview right here, once it is created.
                            </p>
                        </small>
                        <div class="invalid-feedback browser-error">
                            <small>
                                Oops, your browser did something unexpected.
                                Please refresh the page and try again.
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="payout-methods mt-4" style="display: none;">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold card-title">Stripe Connect Account <span id="accountBadge" class="badge"></span></h4>
                    </div>
                    <div class="card-body">
                        <h4>Account ID: <span id="accountId"></span></h4>
                        <div id="onboardingNeeded" class="mt-2" style="display: none;">
                            <p>
                                Your Stripe Connect account has been created, but you have to complete the Onboarding Process before it becomes active.
                            </p>
                            <form id="completeOnboardingProcessForm">
                                <div class="form-group">
                                    <button id="completeOnboardingProcessButton" type="submit" class="btn btn-primary" aria-describedby="completeOnboardingHelp">
                                        Complete Onboarding Process
                                    </button>
                                    <span id="loadingCompleteOnboardingProcess" class="text-center" style="display: none;">
                                        <img height="40" width="40" src="/images/loading.svg">
                                    </span>
                                    <small id="completeOnboardingHelp" class="form-text text-muted">
                                        <p>
                                            You will be redirected to <a href="https://stripe.com/docs/connect" target="_blank">Stripe Connect</a>
                                            where you should fill out all required information in order to complete the Onboarding Process.
                                        </p>
                                    </small>
                                    <div class="invalid-feedback browser-error">
                                        <small>
                                            Something went wrong. Please refresh the page and try again.<br>
                                            If the error persists, please open an Issue <a href="https://github.com/self-xdsd/self-web/issues" target="_blank">here</a>.
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="stripeRequirements" class="mt-2" style="display: none;">
                            <p>
                                Stripe reported some actions that you need to take regarding your account.<br>
                                Please go to your Stripe Dashboard and complete all the requirements.
                            </p>
                        </div>
                        <div id="stripeActive" class="mt-2" style="display: none;">
                            <p>
                                Your Stripe account is fully set up and active.<br>
                                We will wire money to it for your work in projects which are using real wallets.
                            </p>
                            <p>
                                Use the button bellow anytime, to review your account and see your cash balance.
                            </p>
                        </div>
                        <div id="stripeDashboardFormDiv" style="display: none">
                            <form id="stripeDashboardForm">
                                <div class="form-group">
                                    <button id="stripeDashboardButton" type="submit" class="btn btn-primary">
                                        Stripe Dashboard
                                    </button>
                                    <span id="loadingStripeDashboardForm" class="text-center" style="display: none;">
                                        <img height="40" width="40" src="/images/loading.svg">
                                    </span>
                                    <div class="invalid-feedback browser-error">
                                        <small>
                                            Something went wrong. Please refresh the page and try again.<br>
                                            If the error persists, please open an Issue <a href="https://github.com/self-xdsd/self-web/issues" target="_blank">here</a>.
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<footer th:replace="footer.html :: footer"></footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js"></script>
</body>
<script src="/js/getContributor.js"></script>
<script>
    $(document).ready(
        function () {
            $("#contributorHeaderLink").addClass("active");

            $("#contractsButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#payoutMethodsButton").removeClass("active");

                    $("#contributorDashboard").removeClass("d-none");
                    $("#contributorDashboard").addClass("show");

                    $("#payoutMethodsDashboard").removeClass("show");
                    $("#payoutMethodsDashboard").addClass("d-none");

                    $(".no-payout-methods").hide();
                    $(".payout-methods").hide();
                }
            );

            $("#payoutMethodsButton").on(
                "click",
                function(){
                    console.log("CLICK HAPPENED! YAY!");
                    $(this).addClass("active");
                    $("#contractsButton").removeClass("active");

                    $("#payoutMethodsDashboard").removeClass("d-none");
                    $("#payoutMethodsDashboard").addClass("show");

                    $("#contributorDashboard").removeClass("show");
                    $("#contributorDashboard").addClass("d-none");

                    getPayoutMethods();
                }
            );

            $("#createStripeConnectAccountForm").submit(
                function(e) {
                    e.preventDefault();
                    $("#createStripeConnectAccountButton").addClass("disabled");
                    $("#loadingCreateStripeAccount").show();
                    var form = $(this);
                    $.ajax(
                        {
                            type: "POST",
                            url: "/api/contributor/payoutmethods/stripe",
                            data: form.serialize(),
                            success: function (payoutMethod) {
                                console.log("Redirecting to SCA Onboarding page: " + payoutMethod.stripeOnboardingLink)
                                window.location.replace(payoutMethod.stripeOnboardingLink);
                            },
                            error: function(jqXHR, error, errorThrown) {
                                $("#createStripeConnectAccountButton").removeClass("disabled");
                                $("#loadingCreateStripeAccount").hide();
                                if(jqXHR.status && jqXHR.status == 400){
                                    console.error("Bad Request: " + jqXHR.responseText);
                                    $(".browser-error").show();
                                } else {
                                    console.log("Server error status: " + jqXHR.status);
                                    console.log("Server error: " + jqXHR.responseText);
                                    alert(
                                        "Something went wrong (" + jqXHR.status + ")." +
                                        "Please, try again later."
                                    );
                                }
                            }
                        }
                    );
                }
            );
            $("#completeOnboardingProcessForm").submit(
                function(e) {
                    e.preventDefault();
                    $("#completeOnboardingProcessButton").addClass("disabled");
                    $("#loadingCompleteOnboardingProcess").show();
                    var form = $(this);
                    $.ajax(
                        {
                            type: "POST",
                            url: "/api/contributor/payoutmethods/stripe/onboarding",
                            data: form.serialize(),
                            success: function (payoutMethod) {
                                console.log("Redirecting to SCA Onboarding page: " + payoutMethod.stripeOnboardingLink)
                                window.location.replace(payoutMethod.stripeOnboardingLink);
                            },
                            error: function(jqXHR, error, errorThrown) {
                                $("#completeOnboardingProcessButton").removeClass("disabled");
                                $("#loadingCompleteOnboardingProcess").hide();
                                if(jqXHR.status && jqXHR.status == 400){
                                    console.error("Bad Request: " + jqXHR.responseText);
                                    $(".browser-error").show();
                                } else {
                                    console.log("Server error status: " + jqXHR.status);
                                    console.log("Server error: " + jqXHR.responseText);
                                    alert(
                                        "Something went wrong (" + jqXHR.status + ")." +
                                        "Please, try again later."
                                    );
                                }
                            }
                        }
                    );
                }
            );
            $("#stripeDashboardForm").submit(
                function(e) {
                    e.preventDefault();
                    $("#stripeDashboardButton").addClass("disabled");
                    $("#loadingStripeDashboardForm").show();
                    var form = $(this);
                    $.ajax(
                        {
                            type: "POST",
                            url: "/api/contributor/payoutmethods/stripe/login",
                            data: form.serialize(),
                            success: function (payoutMethod) {
                                console.log("Opening SCA Dashboard page: " + payoutMethod.stripeLoginLink)
                                window.location.replace(payoutMethod.stripeLoginLink);
                            },
                            error: function(jqXHR, error, errorThrown) {
                                $("#stripeDashboardButton").removeClass("disabled");
                                $("#loadingStripeDashboardForm").hide();
                                if(jqXHR.status && jqXHR.status == 400){
                                    console.error("Bad Request: " + jqXHR.responseText);
                                    $(".browser-error").show();
                                } else {
                                    console.log("Server error status: " + jqXHR.status);
                                    console.log("Server error: " + jqXHR.responseText);
                                    alert(
                                        "Something went wrong (" + jqXHR.status + ")." +
                                        "Please, try again later."
                                    );
                                }
                            }
                        }
                    );
                }
            );
            getContributorDashboard();
        }
    )
</script>
</html>
