<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header"></header>

<main class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-user-header card-body">
                <div class="row">
                    <div class="gravatar ml-3 mr-2">
                        <img class="user_avatar" src="/images/user_avatar.jpg" alt="Card image cap">
                    </div>
                    <div class="mt-2">
                        <h4 class="user_name"></h4>
                        <span class="text-muted user_login"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer" id="contributorCardFooter" style="display: none;">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" role="button" id="contractsButton">Contracts</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" role="button" id="payoutMethodsButton">Payout Methods</button>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center" id="notContributorCardFooter" style="display: none;">
                It seems that you are not contributing to any projects managed
                by Self XDSD.<br>
                If someone from your organization told you that they registered the project in Self XDSD,
                ask them to register a contract for you.
            </div>
        </div>
    </header>
    <div>
        <div id="loadingContributor" class="text-center" style="display:none;">
            <img src="/images/loading.svg">
        </div>
        <div id="contributorDashboard" class="d-none">
            <div class="mt-4" id="contractsDivTable">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold card-title">Contracts</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="contractsTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div id="contributor-contracts-info" class="mb-4">
                                    You can see here all the contracts you have with various projects managed by Self XDSD, as well as
                                    current tasks and invoices.<br>
                                    Please read <a href="https://docs.self-xdsd.com/contributor.html" target="_blank">this</a> page to understand how the invoicing, commission and VAT are working.
                                </div>
                                <table id="contractsTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Role</th>
                                        <th>Hourly Rate</th>
                                        <th>
                                            Value
                                            <i class="fa fa-question-circle-o fa-lg fakeWalletInfo"
                                               aria-hidden="true"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Total value of your current tasks and active invoice.">
                                            </i>
                                        </th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6" id="tasks" style="display: none;">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold card-title" id="tasksTitle">Tasks</h4>
                        </div>
                        <div class="card-body" id="tasksBody">
                            <div class="table-responsive">
                                <div id="tasksTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div id="tasks-info" class="mb-4">
                                        These tasks are assigned to you at the moment.<br>
                                        Read more about estimations and microtasking <a href="https://docs.self-xdsd.com/microtasking.html" target="_blank">here</a>.
                                    </div>
                                    <table id="tasksTable" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Issue</th>
                                            <th>Assigned</th>
                                            <th>Deadline</th>
                                            <th>Estimation</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="invoices" style="display: none;">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold card-title" id="invoicesTitle">Invoices</h4>
                        </div>
                        <div class="card-body" id="invoicesBody">
                            <div class="table-responsive">
                                <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <table id="invoicesTable" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Created</th>
                                            <th>Gross Revenue</th>
                                            <th>Status</th>
                                            <th>Download</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="payoutMethodsDashboard" class="d-none">
            <div id="loadingPayoutMethods" class="text-center" style="display: none;">
                <img src="/images/loading.svg">
            </div>
            <div class="card-body no-payout-methods" style="display: none;">
                <h3>You have no payout methods yet.</h3>
                <p>Payout methods are ways for you to be paid.<br>
                You will want to set up a payout method as soon as one of the projects you're working for decides to use a real wallet and make real payments.</p>
                <p> The information you submit here will appear on the invoices which you will emit for projects you work in. </p>
                <form id="createStripeConnectAccountForm">
                    <div class="form-group input-group-sm">
                        <input type="radio" id="company" name="businessType" value="company" checked>
                        <label for="company">Company</label>
                        <input type="radio" id="individual" name="businessType" value="individual">
                        <label for="individual">Individual</label>
                    </div>
                    <div class="form-group input-group-sm" id="legalNameDiv">
                        <label for="legalName">Company Name*</label>
                        <input type="text" class="form-control required" id="legalName" name="legalName" placeholder="e.g. Example Corp LLC" autocomplete="off">
                        <div class="invalid-feedback legalName-error">
                            Please specify a valid company name.
                        </div>
                    </div>
                    <div class="form-group input-group-sm" style="display: none;" id="firstNameDiv">
                        <label for="firstName">First Name*</label>
                        <input type="text" class="form-control required" id="firstName" name="firstName" placeholder="e.g. John" autocomplete="off">
                        <div class="invalid-feedback firstName-error">
                            Please specify a valid first name.
                        </div>
                    </div>
                    <div class="form-group input-group-sm" style="display: none;" id="lastNameDiv">
                        <label for="lastName">Last Name*</label>
                        <input type="text" class="form-control required" id="lastName" name="lastName" placeholder="e.g. Smith" autocomplete="off">
                        <div class="invalid-feedback lastName-error">
                            Please specify a valid last name.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="country">Country*</label>
                        <select name="country" class="form-control required" id="country">
                            <option value="" label="Select a country ... " selected="selected">Select a country ... </option>
                            <option value="AU" label="Australia">Australia</option>
                            <option value="AT" label="Austria">Austria</option>
                            <option value="BE" label="Belgium">Belgium</option>
                            <option value="BR" label="Brazil">Brazil</option>
                            <option value="BG" label="Bulgaria">Bulgaria</option>
                            <option value="CA" label="Canada">Canada</option>
                            <option value="HR" label="Croatia">Croatia</option>
                            <option value="CY" label="Cyprus">Cyprus</option>
                            <option value="CZ" label="Czech Republic">Czech Republic</option>
                            <option value="DK" label="Denmark">Denmark</option>
                            <option value="EE" label="Estonia">Estonia</option>
                            <option value="FI" label="Finland">Finland</option>
                            <option value="FR" label="France">France</option>
                            <option value="DE" label="Germany">Germany</option>
                            <option value="GI" label="Gibraltar">Gibraltar</option>
                            <option value="GR" label="Greece">Greece</option>
                            <option value="HK" label="Hong Kong SAR China">Hong Kong SAR China</option>
                            <option value="HU" label="Hungary">Hungary</option>
                            <option value="IE" label="Ireland">Ireland</option>
                            <option value="IT" label="Italy">Italy</option>
                            <option value="JP" label="Japan">Japan</option>
                            <option value="LV" label="Latvia">Latvia</option>
                            <option value="LI" label="Liechtenstein">Liechtenstein</option>
                            <option value="LT" label="Lithuania">Lithuania</option>
                            <option value="LU" label="Luxembourg">Luxembourg</option>
                            <option value="MY" label="Malaysia">Malaysia</option>
                            <option value="MT" label="Malta">Malta</option>
                            <option value="MX" label="Mexico">Mexico</option>
                            <option value="NL" label="Netherlands">Netherlands</option>
                            <option value="NZ" label="New Zealand">New Zealand</option>
                            <option value="NO" label="Norway">Norway</option>
                            <option value="PL" label="Poland">Poland</option>
                            <option value="PT" label="Portugal">Portugal</option>
                            <option value="RO" label="Romania">Romania</option>
                            <option value="SG" label="Singapore">Singapore</option>
                            <option value="SK" label="Slovakia">Slovakia</option>
                            <option value="SI" label="Slovenia">Slovenia</option>
                            <option value="ES" label="Spain">Spain</option>
                            <option value="SE" label="Sweden">Sweden</option>
                            <option value="CH" label="Switzerland">Switzerland</option>
                            <option value="TH" label="Thailand">Thailand</option>
                            <option value="GB" label="United Kingdom">United Kingdom</option>
                            <option value="US" label="United States">United States</option>
                        </select>
                        <div class="invalid-feedback country-error">
                            Please select a country.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="address">Address*</label>
                        <input type="text" class="form-control required" id="address" name="address" placeholder="e.g. 12 Sesame Street, apt. 2" autocomplete="off">
                        <div class="invalid-feedback address-error">
                            Please specify a valid address.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="city">City*</label>
                        <input type="text" class="form-control required" id="city" name="city" placeholder="e.g. London" autocomplete="off">
                        <div class="invalid-feedback city-error">
                            Please specify a valid city.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="zipcode">Zipcode*</label>
                        <input type="text" class="form-control required" id="zipcode" name="zipcode" placeholder="e.g. 1234" autocomplete="off">
                        <div class="invalid-feedback zipcode-error">
                            Please specify a valid zipcode.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="email">E-Mail Address*</label>
                        <input type="email" class="form-control required" id="email" name="email" placeholder="e.g. john@example.com" autocomplete="off">
                        <div class="invalid-feedback email-error">
                            Please specify a valid email.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="taxId">VAT Number</label>
                        <input type="text" class="form-control" id="taxId" name="taxId" placeholder="e.g. VAT number" autocomplete="off">
                        <div class="invalid-feedback taxId-error">
                            Please specify a valid VAT numberF.
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="other">Other Information</label>
                        <textarea rows="5" cols="30" class="form-control" id="other" name="other" placeholder="e.g. Registration Code: #12345" autocomplete="off"></textarea>
                        <div class="invalid-feedback other-error">
                            Please specify a valid input.
                        </div>
                    </div>
                    <div class="form-check input-group-sm">
                        <input class="form-check-input required" type="checkbox" id="dataConfirmation" name="dataConfirmation">
                        <label class="form-check-label" for="dataConfirmation">I hereby declare that the information provided is true and correct.</label>
                        <div class="invalid-feedback dataConfirmation-error">
                            Please confirm the correctness of your data.
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="createStripeConnectAccountButton" type="submit" class="btn btn-primary" aria-describedby="stripeConnectHelp">
                            Create Stripe Account
                        </button>
                        <span id="loadingCreateStripeAccount" class="text-center" style="display: none;">
                            <img height="40" width="40" src="/images/loading.svg">
                        </span>
                        <small id="stripeConnectHelp" class="form-text text-muted">
                            <p>
                                You will be redirected to <a href="https://stripe.com/docs/connect" target="_blank">Stripe Connect</a>
                                where you will set up a Stripe Connect Account which is linked to Self XDSD's Platform Account.<br>
                                Then, we will be able to wire you money for the work you do in projects that use a real wallet.
                            </p>
                            <p>
                                You will see your Stripe Connect Account overview right here, once it is created.
                            </p>
                        </small>
                        <div class="invalid-feedback browser-error">
                            <small>
                                Oops, your browser did something unexpected.
                                Please refresh the page and try again.
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="payout-methods mt-4" style="display: none;">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold card-title">Stripe Connect Account <span id="accountBadge" class="badge"></span></h4>
                    </div>
                    <div class="card-body">
                        <h4>Account ID: <span id="accountId"></span></h4>
                        <div id="onboardingNeeded" class="mt-2" style="display: none;">
                            <p>
                                Your Stripe Connect account has been created, but you have to complete the Onboarding Process before it becomes active.
                            </p>
                            <form id="completeOnboardingProcessForm">
                                <div class="form-group">
                                    <button id="completeOnboardingProcessButton" type="submit" class="btn btn-primary" aria-describedby="completeOnboardingHelp">
                                        Complete Onboarding Process
                                    </button>
                                    <span id="loadingCompleteOnboardingProcess" class="text-center" style="display: none;">
                                        <img height="40" width="40" src="/images/loading.svg">
                                    </span>
                                    <small id="completeOnboardingHelp" class="form-text text-muted">
                                        <p>
                                            You will be redirected to <a href="https://stripe.com/docs/connect" target="_blank">Stripe Connect</a>
                                            where you should fill out all required information in order to complete the Onboarding Process.
                                        </p>
                                    </small>
                                    <div class="invalid-feedback browser-error">
                                        <small>
                                            Something went wrong. Please refresh the page and try again.<br>
                                            If the error persists, please open an Issue <a href="https://github.com/self-xdsd/self-web/issues" target="_blank">here</a>.
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="stripeRequirements" class="mt-2" style="display: none;">
                            <p>
                                Stripe reported some actions that you need to take regarding your account.<br>
                                Please go to your Stripe Dashboard and complete all the requirements.
                            </p>
                        </div>
                        <div id="stripeActive" class="mt-2" style="display: none;">
                            <p>
                                Your Stripe account is fully set up and active.<br>
                                We will wire money to it for your work in projects which are using real wallets.
                            </p>
                            <p>
                                Use the button bellow anytime, to review your account and see your cash balance.
                            </p>
                        </div>
                        <div id="stripeDashboardFormDiv" style="display: none">
                            <div class="row ml-0">
                                <form id="stripeDashboardForm" class="mr-1">
                                    <button id="stripeDashboardButton" type="submit" class="btn btn-primary">
                                        Stripe Dashboard
                                    </button>
                                </form>
                                <form id="deleteStripeForm">
                                    <button id="stripeDeleteButton" type="submit" class="btn btn-danger">
                                        Delete Account
                                    </button>
                                </form>
                                <span id="loadingStripeDashboardForm" class="text-center" style="display: none;">
                                    <img height="30" width="30" src="/images/loading.svg">
                                </span>
                                <div class="invalid-feedback browser-error">
                                    <small>
                                        Something went wrong. Please refresh the page and try again.<br>
                                        If the error persists, please open an Issue <a href="https://github.com/self-xdsd/self-web/issues" target="_blank">here</a>.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="footer.html :: footer"></footer>
</body>
<script src="/js/confirmDialog.js"></script>
<script src="/js/payoutMethods.js"></script>
<script src="/js/getContributor.js"></script>
<script>
    $(document).ready(
        function () {
            $("#contributorHeaderLink").addClass("active");

            $("#contractsButton").on(
                "click",
                function(){
                    if($(this).hasClass("active")) {
                        return;
                    }
                    $(this).addClass("active");
                    $("#payoutMethodsButton").removeClass("active");

                    $("#contributorDashboard").removeClass("d-none");
                    $("#contributorDashboard").addClass("show");

                    $("#payoutMethodsDashboard").removeClass("show");
                    $("#payoutMethodsDashboard").addClass("d-none");

                    $(".no-payout-methods").hide();
                    $(".payout-methods").hide();
                }
            );

            $("#payoutMethodsButton").on(
                "click",
                function(){
                    if($(this).hasClass("active")) {
                        return;
                    }
                    $(this).addClass("active");
                    $("#contractsButton").removeClass("active");

                    $("#payoutMethodsDashboard").removeClass("d-none");
                    $("#payoutMethodsDashboard").addClass("show");

                    $("#contributorDashboard").removeClass("show");
                    $("#contributorDashboard").addClass("d-none");

                    getPayoutMethods();
                }
            );
            getContributorDashboard();
        }
    )
</script>
<script th:replace="cookies.html :: script"></script>
</html>
