<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <footer class="page-footer font-small mt-4 bg-light">
    <div class="container-fluid text-center text-md-left">
      <div class="row bg-light py-2">
        <div class="col-md-5 mt-md-0 mt-3">
          <span class="navbar-brand">
            <img src="/images/self-xdsd.png" width="35" height="35" class="d-inline-block align-top" alt="">
            Self XDSD
          </span>
          <p>Automated management for distributed projects.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Contact us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:support@self-xdsd.com">E-Mail</a>
            </li>
            <li>
              <a href="https://t.me/joinchat/FWpjdxscN7kYhADoVtUV0A" target="_blank">Telegram Group</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Help</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://docs.self-xdsd.com" target="_blank">Documentation</a>
            </li>
            <li>
              <a href="https://blog.self-xdsd.com" target="_blank">Blog</a>
            </li>
            <li>
              <a href="https://github.com/self-xdsd/self-web/issues" target="_blank">Report an Issue</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Legal</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://docs.self-xdsd.com/documents/Terms_and_Conditions_Self_XDSD.pdf" target="_blank">Terms & Conditions</a>
            </li>
            <li>
              <a href="https://docs.self-xdsd.com/documents/Data_and_Privacy_Policy_Self_XDSD.pdf" target="_blank">Data & Privacy Policy</a>
            </li>
            <li>
              <a href="https://docs.self-xdsd.com/documents/Cookies_Policy_Self_XDSD.pdf" target="_blank">Cookies Policy</a>
            </li>
            <li th:unless="${testEnvironment}">
              <a href="javascript:cookieConsent.changeConsent();">Cookies Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 bg-light">Copyright © Self XDSD Team</div>
    <script th:unless="${testEnvironment}" src="//www.eucookie.eu/public/gdpr-cookie-consent.js" type="text/javascript"></script>
    <script th:unless="${testEnvironment}" type="text/javascript">
      var cookieConsent = new cookieConsent({
        clientId: '7a1fc21f-8fa6-44f2-90f3-84ff0ae35e90',
        position: 'bottomLeft',
        backgroundColor: '#f8f9fa',
        fontColor: '#24292e',
        linkColor: '#701516',
        buttonBackground: '#701516'
      });
      cookieConsent.run();
    </script>
    <script th:unless="${testEnvironment}" data-cookie-if="analytical" async type="text/plain" src="https://www.googletagmanager.com/gtag/js?id=G-5F9Q5Y4G8P"></script>
    <script th:unless="${testEnvironment}" data-cookie-if="analytical" type="text/plain">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5F9Q5Y4G8P');
    </script>
  </footer>
</html>
