<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <footer class="page-footer font-small fixed-bottom">
    <div class="container-fluid text-center text-md-left">
      <div class="row bg-light py-2">
        <div class="col-md-5 mt-md-0 mt-3">
          <span class="navbar-brand">
            <img src="images/self-xdsd.png" width="35" height="35" class="d-inline-block align-top" alt="">
            Self XDSD
          </span>
          <p>Automate the project management of your repositories.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Contact us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/self-xdsd">Github</a>
            </li>
            <li>
              <a href="#!">Email</a>
            </li>
            <li>
              <a href="#!">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Help</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Documentation</a>
            </li>
            <li>
              <a href="#!">Community</a>
            </li>
            <li>
              <a href="#!">Changelog</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-2">
          <h5 class="text-uppercase">Legal</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms of Use</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">Trademark Guidelines</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 bg-light">Copyright © Self XDSD Team</div>
  </footer>
</html>
