<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head id="head" th:fragment="head">
    <title>Self XDSD</title>
    <link rel="icon" href="/images/self-xdsd.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css"/>
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script src="http://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        $.ajax("/api/users/self", {
            type: "GET",
            statusCode: {
                200: function (data) {
                    $(".user_login").html('@' + data.login);
                    $(".user_name").html(data.name);
                    $(".user_avatar").attr("src", data.avatar_url);
                    $(".unauthenticated").hide()
                    $(".authenticated").show()
                    if (data.role == 'admin') {
                        $(".admin-only").show()
                    }
                }
            }
        });
        var logout = function() {
            $.post("/logout", function() {
                window.location = "/"
            })
        }
        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                    || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
</head>
</html>
