<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <h1 id="logo" class="logo">
        <a href="/">
            Self XDSD
        </a>
    </h1>
    <nav id="navigation" class="navigation ">
        <!-- ul with section links -->
    </nav>

    <div id="logins">
        <div class="container unauthenticated">
            With GitHub: <a href="/oauth2/authorization/github">click here</a>
        </div>
        <div class="container authenticated" style="display:none">
            Logged in as: <span id="user"></span>
            <div>
                <button onClick="logout()" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>
</header>
</html>
