<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header">
</header>
<!--
@todo #85:30min Implement a "Swag" card on the Project Overview tab,
 to give the user various options of displaying the Self badge (HTML,
 Markdown etc).
-->
<main class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-user-header card-body">
                <div class="ml-1 row">
                    <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" width="25" height="25" aria-hidden="true"><path style="color: #701516" fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg>
                    <h3><span id="owner" th:text="${owner}"/>/<span id="name" th:text="${name}"/></h3>
                </div>
            </div>
            <div class="card-footer project-buttons" style="display:none;">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" role="button" id="projectOverviewButton">Overview</button>
                    </li>
                    <li class="nav-item project-owner-buttons">
                        <button class="nav-link" role="button" id="projectContractsButton">Contracts</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="loadingProject" class="text-center">
        <img src="/images/loading.svg">
    </div>
    <div class="card card-body collapse multi-collapse" id="projectOverview">
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold card-title managedBy">Project managed by:</h4>
                </div>
                <div class="card-body">
                    <p>
                        The Project Manager takes care of the following things for you:
                    </p>
                    <div class="mb-2">
                        <h5><code>Issue assignment</code></h5>
                        <p>
                            Whenever someone opens a new Issue in your repository, the PM will
                            automatically register it as a task and will assign a contributor to work on it.
                        </p>
                        <p>
                            If it turns out that the Issue is invalid, not applicable or simply not worth working on as a task,
                            just label it <code>invalid</code>, <code>wont fix</code> or <code>rejected</code> and the PM will take
                            it out of scope. No invoicing or payments will be performed.
                        </p>
                        <p>
                            In the case of Pull Requests, the PM will look for contributors with role <code>REV</code> and assign
                            them for code review.
                        </p>
                    </div>
                    <div class="mb-2">
                        <h5><code>Issue resignation</code></h5>
                        <p>If the task's assignee does not close the Issue before the deadline arrives,
                        the PM will resign them and look for another assignee.</p>
                    </div>
                    <div class="mb-2">
                        <h5><code>Invoicing and Payments</code></h5>
                        <p>
                            After an Issue or PR is closed, the PM will add the task to the assignee's
                            active Invoice.
                        </p>
                        <p>
                            Invoices are paid out on the <code>1st of the month</code> or when they
                            accumulate more than <code>$100</code>.
                        </p>
                    </div>
                    <div class="mb-2">
                        <h5><code>Commands</code></h5>
                        <p>
                            The Project Manager listens to certain commands given by users. For example,
                            if the assignee cannot solve the task, they can say <code>resign</code> right
                            in the Issue comments and the PM will look for someone else.
                            <a href="#">Here</a> is guide on all possible commands and who can give them.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div id="walletCard" class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold card-title">
                        Wallet
                        <i
                            class="fa fa-question-circle-o fa-lg fakeWalletInfo"
                            style="display: none;"
                            aria-hidden="true"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="We assigned you a fake wallet with $10M. You can work with it
                            until you decide to register a real wallet. The business flow is the same,
                            except the payments are fictive.">
                        </i>
                    </h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas
                            id="walletPieChart"
                            style="display: block; height: 253px; width: 290px;"
                            class="chartjs-render-monitor"
                        >
                        </canvas>
                    </div>
                    <hr>
                    <span>
                        Approximate Total: <span class="font-weight-bold" id="walletCash"></span>
                    </span><br>
                    <span>
                        Debt: <span class="font-weight-bold" id="walletDebt"></span>
                        <i
                            class="fa fa-question-circle-o fa-lg fakeWalletInfo"
                            style="display: none;"
                            aria-hidden="true"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Total cost of all currently assigned tasks, active invoices and PM commission.">
                        </i>
                    </span><br>
                    <span>Available: <span class="font-weight-bold" id="walletAvailable"></span>
                    </span>
                </div>
            </div>
            <div id="ownerCard" class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Ownership</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p>This project is owned by: @<b><span class="selfOwner"></span></b></p>
                    <p>You can see this page because you are an admin in the Organization which
                    owns the repository. However, in Self there is only one Project Owner, the one
                    who activated the repository.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="card card-body collapse multi-collapse" id="projectContracts" style="height:600px;">
        <div class="card container-fluid d-flex h-100 flex-column" style="padding:0">
            <div class="table-responsive" style="width:100%;flex:1">
                <table class="table table-striped table-bordered dt-responsive nowrap" id="contracts"  style="width:100%" >
                    <thead>
                    <tr>
                        <th scope="col" width="50%">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Hourly Rate</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between"
                 style="height:100px">
                <div class="col-lg-8 align-self-center">
                    <form id="addContractForm" class="form-inline"
                          style="padding-bottom:10px;">
                        <div class="form-group input-group-sm col-lg-4">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control"
                                   id="username" name="username">
                            <div class="invalid-feedback username-error"></div>
                        </div>
                        <div class="form-group input-group-sm col-lg-4">
                            <label for="hourlyRate">Hourly Rate:</label>
                            <input type="number" class="form-control" value="0.0"
                                   id="hourlyRate" name="hourlyRate">
                            <div class="invalid-feedback hourlyRate-error"></div>
                        </div>
                        <div class="form-group input-group-sm col-lg-2">
                            <label for="role">Role:</label>
                            <select id="role" class="form-control"
                                    name="role">
                                <option selected>DEV</option>
                                <option>REV</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top:30px">
                            <button type="submit" id="add"
                                    class="btn btn-primary bg">Add
                            </button>
                        </div>
                    </form>
                </div>
                <div id="loadingContracts"
                     class="bg-light align-self-center"
                     style="margin-top:25px; margin-right:25px; display:none">
                    <img src="/images/loading.svg" width="36"
                         height="36">
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body project-not-registered" style="display: none;">
        <div>
            <h3>This repository is not active</h3>
            <p>Looks like this repository is not currently managed by Self. Go ahead and activate it.</p>

            <form id="activateRepoForm">
                <input class="required" name="owner" type="hidden" th:value="${owner}">
                <input class="required" name="name" type="hidden" th:value="${name}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" aria-describedby="activateHelp">Activate</button>
                    <small id="activateHelp" class="form-text text-muted">
                        <p>Three things will happen when you activate a new repo:</p>
                        <ul>
                            <li>1. We will register your repo as a project and assign it a Project Manager.</li>
                            <li>2. We will invite the PM to your repository with management permissions.</li>
                            <li>3. We will set up a Webhook in your repository so the PM is notified of certain events automatically.</li>
                        </ul>
                    </small>
                    <div class="invalid-feedback browser-error">
                        <small>
                            Oops, your browser did something unexpected.
                            Please refresh the page and try again.
                        </small>
                    </div>
                    <div class="invalid-feedback owner-error">
                        <small>Repo owner is mandatory.</small>
                    </div>
                    <div class="invalid-feedback name-error">
                        <small>Repo name is mandatory.</small>
                    </div>
                    <div class="invalid-feedback repo-activated-error">
                        <small>Repo is already active! You cannot activate it twice.</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="footer.html :: footer"></footer>
</body>
<script src="/js/getProject.js"></script>
<script src="/js/contractsService.js"></script>
<script src="/js/getAndAddContracts.js"></script>
<script src="/js/chart.js/Chart.min.js"></script>
<script>
    $(document).ready(
        function () {
            $("#projectOverviewButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#projectOverview").addClass("show");

                    $("#projectContractsButton").removeClass("active");
                    $("#projectContracts").removeClass("show");
                }
            );
            $("#projectContractsButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#projectContracts").addClass("show");

                    $("#projectOverviewButton").removeClass("active");
                    $("#projectOverview").removeClass("show");
                    //otherwise when tab is showing, table headers will be
                    //initially squashed at start
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                }
            );

            $("#activateRepoForm").submit(
                function(e) {
                    e.preventDefault();
                    var valid = true;
                    $.each($("#activateRepoForm .required"), function(index, element) {
                        if($(element).val() == '') {
                            valid = valid && false;
                        } else {
                            valid = valid && true;
                        }
                    });
                    if(valid) {
                        $(".browser-error").hide();
                        $(".repo-activated-error").hide();
                        $(".name-error").hide();
                        $(".owner-error").hide();
                        $("#loadingProject").show();
                        $(".project-not-registered").hide();
                        var form = $(this);
                        $.ajax(
                            {
                                type: "POST",
                                url: "/api/projects/new",
                                data: form.serialize(),
                                success: function (project) {
                                    $("#loadingProject").hide();
                                    displayProject(project.selfOwner, project);
                                },
                                error: function(jqXHR, error, errorThrown) {
                                    $("#loadingProject").hide();
                                    $(".project-not-registered").show();
                                    if(jqXHR.status && jqXHR.status == 400){
                                        var errors = JSON.parse(jqXHR.responseText);
                                        console.error("Backend validation errors: " + jqXHR.responseText);
                                        Object.keys(errors).forEach(
                                            function(field) {
                                                $("." + field + "-error").show();
                                            }
                                        )
                                    } else if(jqXHR.status == 412) {
                                        $(".repo-activated-error").show();
                                    } else {
                                        console.log("Server error status: " + jqXHR.status);
                                        console.log("Server error: " + jqXHR.responseText);
                                        alert(
                                            "Something went wrong (" + jqXHR.status + ")." +
                                            "Please, try again later."
                                        );
                                    }
                                }
                            }
                        );
                    } else {
                        $(".browser-error").show();
                    }
                }
            );
        }
    )
</script>
</html>
