<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header"></header>
<main class="container" role="main">
    <div class="row">
        <div class="col-lg-6" id="pmsDivTable">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold card-title">Project Managers</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="pmsTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div id="loadingPmsTable" class="text-center">
                                <img src="/images/loading.svg">
                            </div>
                            <table id="pmsTable" class="display">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Provider</th>
                                    <th>User ID</th>
                                    <th>Commission</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="addPmFormDiv">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold card-title">
                        New Project Manager
                    </h4>
                </div>
                <div class="card-body">
                    <form id="addPmForm">
                        <div class="form-group">
                            <label for="providerSelect">Provider*</label>
                            <select name="provider" class="form-control required" id="providerSelect">
                                <option value="github">Github</option>
                                <option value="gitlab">GitLab</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a provider.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pmUserName">Username From Provider*</label>
                            <input name="username" type="text" class="form-control required" id="pmUserName" placeholder="Username (e.g. johndoe)">
                            <div class="invalid-feedback">
                                Please specify a plain username (without a preceding '@').
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pmUserId">User ID From Provider*</label>
                            <input name="userId" type="text" class="form-control required" id="pmUserId" placeholder="User ID (e.g. 12345)">
                            <div class="invalid-feedback">
                                Please specify a user ID.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pmCommission">Commission per task ($)*</label>
                            <input name="commission" type="number" min="0.01" step="0.01" class="form-control required" id="pmCommission" placeholder="0.25">
                            <div class="invalid-feedback">
                                Please specify a numeric commission.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pmToken">Token*</label>
                            <input name="token" type="text" class="form-control required" id="pmToken" aria-describedby="tokenHelp" placeholder="Token">
                            <div class="invalid-feedback">
                                Please specify an access token.
                            </div>
                            <small id="tokenHelp" class="form-text text-muted">Personal access token issued by the provider.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="footer.html :: footer"></footer>
</body>
<script src="/js/getPms.js"></script>
<script>
    $(document).ready(
        function () {
            $("#pmsHeaderLink").addClass("active");
            $("#addPmForm").submit(
                function(e) {
                    e.preventDefault();
                    var valid = true;
                    $.each($("#addPmForm .required"), function(index, element) {
                        if($(element).val() == '') {
                            $(element).addClass("is-invalid");
                            valid = valid && false;
                        } else {
                            $(element).removeClass("is-invalid");
                            valid = valid && true;
                        }
                    });
                    if(valid) {
                        var form = $(this);
                        $.ajax(
                            {
                                type: "POST",
                                url: "/api/managers/new",
                                data: form.serialize(),
                                success: function (manager) {
                                    var table = $('#pmsTable').DataTable();
                                    table.row.add(
                                        [
                                            "<a href='https://" + manager.provider + ".com/"+ manager.username + "' target='_blank'>@" + manager.username + "</a>",
                                            manager.provider,
                                            manager.userId,
                                            '$' + manager.commission
                                        ]
                                    ).draw(false)
                                    $("#addPmForm input").val('');
                                    $('#addPmForm option:first').prop('selected',true);
                                },
                                error: function(jqXHR, error, errorThrown) {
                                    if(jqXHR.status && jqXHR.status == 400){
                                        var errors = JSON.parse(jqXHR.responseText);
                                        console.error("Backend validation errors: " + jqXHR.responseText);
                                        Object.keys(errors).forEach(
                                            function(field) {
                                                $("#addPmForm input[name=" + field + "]")
                                                    .addClass("is-invalid");
                                            }
                                        )
                                    } else {
                                        console.log("Server error status: " + jqXHR.status);
                                        console.log("Server error: " + jqXHR.responseText);
                                        alert(
                                            "Something went wrong (" + jqXHR.status + ")." +
                                            "Please, try again later."
                                        );
                                    }
                                }
                            }
                        );
                    }
                }
            );
        }
    )
</script>
</html>
