<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header"></header>
<main class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-user-header card-body">
                <div class="row">
                    <div class="gravatar ml-3 mr-2">
                        <img class="user_avatar" src="/images/user_avatar.jpg" alt="Card image cap">
                    </div>
                    <div class="mt-2">
                        <h4 class="user_name"></h4>
                        <span class="text-muted user_login"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" role="button" id="managedReposButton">Managed Repos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" role="button" id="personalReposButton">Personal Repos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" role="button" id="orgReposButton">Organization Repos</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="collapse multi-collapse show" id="managedRepos">
        <div class="card card-body">
            <div class="table-responsive">
                <div id="managedReposTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div id="managed-repos-info" class="mb-4">
                        These are all your repositories which are managed by Self XDSD.
                    </div>
                    <table id="managedReposTable" class="display">
                        <thead>
                        <tr>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse multi-collapse" id="personalRepos">
            <div class="card card-body">
                <div class="table-responsive">
                    <div id="reposTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div id="loadingPersonalRepos" class="text-center">
                            <img src="/images/loading.svg">
                        </div>
                        <div id="personal-repos-info" class="mb-4" style="display: none;">
                            These are all your personal repositories, both public and private.
                        </div>
                        <table id="repos" class="display">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div class="collapse multi-collapse" id="orgRepos">
            <div class="card card-body">
                <div class="table-responsive">
                    <div id="orgReposTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div id="loadingOrgRepos" class="text-center">
                            <img src="/images/loading.svg">
                        </div>
                        <div id="org-access-info" class="mb-4" style="display: none;">
                            You should see here all the repos from Organizations where you have admin rights, including private repos.<br>
                            <span id="github-org-access-info" style="display: none;">
                                Missing some of them? Make sure you
                                <a th:if="${testEnvironment}" class="provider-grant" href="https://github.com/settings/connections/applications/a55dd23908b4dffe8df6" target="_blank">grant</a>
                                <a th:unless="${testEnvironment}" class="provider-grant" href="https://github.com/settings/connections/applications/15d5044008af6840cdf7" target="_blank">grant</a>
                                Self XDSD access in Github.
                            </span>
                        </div>
                        <table id="orgReposTable" class="display">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>
<footer th:replace="footer.html :: footer"></footer>
</body>
<script src="/js/getManagedRepos.js"></script>
<script src="/js/getPublicRepos.js"></script>
<script src="/js/getOrgRepos.js"></script>
<script>
    $(document).ready(
        function () {
            $("#reposHeaderLink").addClass("active");

            $("#managedReposButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#managedRepos").addClass("show");

                    $("#personalReposButton").removeClass("active");
                    $("#personalRepos").removeClass("show");
                    $("#orgReposButton").removeClass("active");
                    $("#orgRepos").removeClass("show");
                }
            );

            $("#personalReposButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#personalRepos").addClass("show");

                    $("#managedReposButton").removeClass("active");
                    $("#managedRepos").removeClass("show");
                    $("#orgReposButton").removeClass("active");
                    $("#orgRepos").removeClass("show");
                }
            );

            $("#orgReposButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#orgRepos").addClass("show");

                    $("#managedReposButton").removeClass("active");
                    $("#managedRepos").removeClass("show");
                    $("#personalReposButton").removeClass("active");
                    $("#personalRepos").removeClass("show");
                }
            );
        }
    )
</script>
<script th:replace="cookies.html :: script"></script>
</html>
