<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<body>
<header th:replace="header.html :: header"></header>

<article class="container" role="main">
    <header class="profile-header">
        <div class="card">
            <div class="card-body">
                <div class="row">
                        <img src="https://avatars0.githubusercontent.com/u/6305156?v=4" width="50" height="50" alt="Card image cap">
                    <div class="colLast">
                        <h4>Mihai</h4>
                        <span class="text-muted">@amihaiemil</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" role="button" id="personalReposButton">Personal Repos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" role="button" id="orgReposButton">Organization Repos</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
        <div class="collapse multi-collapse show" id="personalRepos">
            <div class="card card-body">
                <div class="table-responsive">
                    <div id="reposTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div id="loadingPersonalRepos" class="text-center">
                            <img src="/images/loading.svg">
                        </div>
                        <table id="repos" class="display">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse multi-collapse" id="orgRepos">
            <div class="card card-body">
                <div class="table-responsive">
                    <div id="orgReposTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div id="loadingOrgRepos" class="text-center">
                            <img src="/images/loading.svg">
                        </div>
                        <table id="orgReposTable" class="display">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</article>
<footer th:replace="footer.html :: footer"></footer>
</body>
<script src="/js/getPublicRepos.js"></script>
<script src="/js/getOrgRepos.js"></script>
<script>
    $(document).ready(
        function () {
            $("#reposHeaderLink").addClass("active");

            $("#personalReposButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#personalRepos").addClass("show");

                    $("#orgReposButton").removeClass("active");
                    $("#orgRepos").removeClass("show");
                }
            );

            $("#orgReposButton").on(
                "click",
                function(){
                    $(this).addClass("active");
                    $("#orgRepos").addClass("show");

                    $("#personalReposButton").removeClass("active");
                    $("#personalRepos").removeClass("show");
                }
            );
        }
    )
</script>
</html>
