<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head.html :: head"></head>
    <body class="bg-light">
        <header th:replace="header.html :: header">
        </header>
        <main class="container error-container" role="main">
            <header class="error-header">
                <img src="/images/server-error.png" style="width: 100%">
            </header>            
        </main>
        <footer th:replace="footer.html :: footer"></footer>
    </body>
    <script th:replace="cookies.html :: script"></script>
</html>
