<main class="container" role="main">
  <div class="mt-4" id="invoicesOverview">
    <div id="invoicesDivTable">
      <div class="card shadow">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold card-title">Platform Invoices</h4>
        </div>
        <div class="card-body">
          <div id="platform-invoice-info" class="mb-4">
            These are all the Platform Invoices of Self. These invoices are emitted to the Contributors
            for the commission of Self. They are registered in the Accounting of the company as income.
          </div>
          <div class="mb-4">
            <span id="gross">Gross Revenue (with VAT): <b>{{getTotal().grossRevenue}}</b></span><br>
            <span id="net">Net Revenue (without VAT): <b>{{getTotal().netRevenue}}</b></span><br>
            <span id="totalVat">Total VAT: <b>{{getTotal().totalVat}}</b></span>
          </div>
          <form>
            <div class="form-group form-inline">
<!--              Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>-->
            </div>
          </form>

          <div class="table-responsive">
            <div id="invoicesTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Commission</th>
                  <th scope="col">VAT (19%)</th>
                  <th scope="col">Total</th>
                  <th scope="col">Paid at</th>
                  <th scope="col">
                    Contributor Invoice
                    <i class="fa fa-question-circle-o fa-lg fakeWalletInfo"
                       ngbPopover="Invoice of the Contributor to the Project." triggers="mouseenter:mouseleave"
                    >
                    </i>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let platformInvoice of platformInvoices">
                  <td>
                    <a href="/api/invoices/platform/{{platformInvoice.id}}/pdf" target='_blank'>{{platformInvoice.number}}</a>
                  </td>
                  <td>{{platformInvoice.createdAt.split('T')[0]}}</td>
                  <td>{{platformInvoice.commission}}</td>
                  <td>{{platformInvoice.vat >=0 ? platformInvoice.vat : "Reverse"}}</td>
                  <td>{{platformInvoice.total}}</td>
                  <td>{{platformInvoice.paidAt.split('T')[0]}}</td>
                  <td>
                    <a href="/api/invoices/platform/{{platformInvoice.id}}/project/pdf" target='_blank'><i title='Contributor Invoice To Project' class='fa fa-file-pdf-o fa-lg'></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
