<div class="table-responsive">
  <div class="dataTables_wrapper dt-bootstrap4">
    @if(loading) {
      <div class="text-center">
        <img src="/assets/images/loading.svg">
      </div>
    } @else {
      <div class="mb-3">
        <div class="input-group">
          <input
            type="search"
            class="form-control border-end-0 border"
            placeholder="Filter by repository name"
            #searchQuery
            (input)="hndSearch(searchQuery.value)"
          />
          <span class="input-group-append search-icon">
            <i class="fa fa-search"></i>
        </span>
        </div>

      </div>
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          @for (repo of repositoriesPage; track $index) {
            <tr>
              <td><a routerLink="{{repo.provider === 'github' ? '/github/' + repo.repoFullName : '/gitlab/' + repo.repoFullName}}">{{repo.repoFullName}}</a></td>
            </tr>
          }

        </tbody>
      </table>
    }



    @if(filteredRepositories()) {
      <div class="p-2">Total {{type()}} repositories: {{filteredRepositories()?.length || 0}}</div>
    } @else {
        <p class="text-center border rounded py-3 my-3 empty-state-template">No data available in table</p>
    }

    @if(filteredRepositories() && pageSize && page && collectionSize) {
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshRepositoriesPage()">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshRepositoriesPage()">
          <option [ngValue]="10">10 repositories per page</option>
          <option [ngValue]="25">25 repositories per page</option>
          <option [ngValue]="50">50 repositories per page</option>
          <option [ngValue]="100">100 repositories per page</option>
        </select>
      </div>
    }


  </div>
</div>
